<html>
<body>
      
      </br></br></br></br>
      <h1 style = "text-align:center;border: 2px solid Violet;background-color:rgba(255, 99, 71, 0.5);">Predicting eligibility of admission... </h1>
      
</br></br></br></br>
      <h1 style="color:black; text-align:center;border: 2px solid Violet;background-color:rgba(255, 99, 71, 0.5);">CONGRATULATIONS !!!<br/>You have a Chance. </h1>
            
<head>
<style>
body {
  background-image: url('../static/a.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>     
</body>
</html> 